{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}   
    <form ng-show="!showLoginForm" ng-controller="ResetPasswordFormController" name="resetPassword" novalidate ng-submit="submit('{{ path('fos_user_resetting_send_email') }}')" method="POST" class="fos_user_resetting_request">
        <div ng-if="fatalError" class="alert alert-danger">
            <span>{{ 'fatal.message'|trans([], 'registration') }}</span>
        </div>
        <h3 class="form-title">{{ 'form.login.forgot_password.title'|trans([], 'index') }}</h3>
        <div ng-if="errors.error" class="alert alert-danger">
            <span>{{ '{{ errors.error }}' }}</span>
        </div>
        <div class="form-group">
            {% if invalid_username is defined %}
                <div class="alert alert-danger">
                    <span>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</span>
                </div>
            {% endif %}
            <label class="control-label visible-ie8 visible-ie9">{{ 'form.login.forgot_password.email'|trans([], 'index') }}</label>
            <div class="input-icon">
                <i class="fa fa-envelope"></i>                
                <input type="email" class="form-control placeholder-no-fix" placeholder="{{ 'form.login.forgot_password.email'|trans([], 'index') }}" id="email" name="email" required="required" ng-model="data['email']">
                <div class="has-error">
                    <div class="help-block" ng-messages="resetPassword['email'].$error">
                        {# Display error messages #}
                        <div ng-message="email">{{ 'user.email.type' | trans([], 'validators') }}</div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="form-actions">
            <button ng-disabled="resetPassword.$invalid" type="submit" class="btn btn-default pull-left">{{ 'resetting.request.submit'|trans }} <i class="fa fa-refresh"></i></button>
            <p ng-click="setShowLoginForm(true)" class="forget-password pull-right margin-top-5">{{ 'form.login.forgot_password.back_to_login'|trans([], 'index') }}</p>
        </div>
    </form>
{% endblock %}
