<form {{ form_enctype(form) }} ng-controller="UserProfileSettingsChangePasswordFormController" ng-submit="submit()" name="{{ form.vars.name }}" novalidate="novalidate" autocomplete="off" method="post">
    {{ form_widget(form._token, {'attr': {'ng-init': 'data[\'' ~ form._token.vars.full_name ~ '\'] = \'' ~ form._token.vars.value ~ '\'' }}) }}
    <div ng-class="{'has-error': errors.fields.current_password.errors.length > 0}" class="form-group">
        <label class="control-label">{{ 'form.current_password'|trans([], 'FOSUserBundle') }}</label>
        {{ form_widget(form.current_password, {'attr': {'autocomplete': 'off', 'ng-model': 'data[\'' ~ form.current_password.vars.full_name ~'\']'} }) }}
        {# It's necessary because of the Firefox autocomplete bug #}
        <input type="password" disabled style="display: none;">

        <span class="help-block" ng-repeat="error in errors.fields.current_password.errors track by $index">
            {{ '{{ error }}' }}
        </span>
    </div>
    <div ng-class="{'has-error': errors.fields.plainPassword.children.first.errors.length > 0 || {{ form.vars.name }}['{{ form.plainPassword.first.vars.full_name }}'].$invalid 
                                && !{{ form.vars.name }}['{{ form.plainPassword.first.vars.full_name }}'].$pristine,
                    'has-success': {{ form.vars.name }}['{{ form.plainPassword.first.vars.full_name }}'].$valid}" class="form-group">
        <label class="control-label">{{ 'form.new_password'|trans([], 'FOSUserBundle') }}</label>
        {{ form_widget(form.plainPassword.first, {'attr': {'autocomplete': 'off', 'ng-minlength': '6', 'ng-maxlength': '32', 'ng-model': 'data[\'' ~ form.plainPassword.first.vars.full_name ~'\']'} }) }}
        <span class="help-block" ng-repeat="error in errors.fields.plainPassword.children.first.errors track by $index">
            {{ '{{ error }}' }}
        </span>
        <div ng-show="!{{ form.vars.name }}['{{ form.plainPassword.first.vars.full_name }}'].$pristine && !(errors.fields.plainPassword.children.first.errors.length > 0)" class="help-block" ng-messages="{{ form.vars.name }}['{{ form.plainPassword.first.vars.full_name }}'].$error">
            {# Display error messages #}
            <div ng-message="required">{{ 'user.password.not_blank' | trans([], 'validators') }}</div>
            <div ng-message="minlength">{{ 'user.password.min_length' | trans([], 'validators') }}</div>
            <div ng-message="maxlength">{{ 'user.password.max_length' | trans([], 'validators') }}</div>
        </div>
    </div>
    <div ng-class="{'has-error': errors.fields.plainPassword.children.second.errors.length > 0 || {{ form.vars.name }}['{{ form.plainPassword.second.vars.full_name }}'].$invalid 
                                && !{{ form.vars.name }}['{{ form.plainPassword.second.vars.full_name }}'].$pristine,
                    'has-success': {{ form.vars.name }}['{{ form.plainPassword.second.vars.full_name }}'].$valid}" class="form-group">
        <label class="control-label">{{ 'form.new_password_confirmation'|trans([], 'FOSUserBundle') }}</label>
        {{ form_widget(form.plainPassword.second, {'attr': {'autocomplete': 'off', 'required': '', 'ng-model': 'data[\'' ~ form.plainPassword.second.vars.full_name ~'\']', 'password-verify': 'data[\'' ~ form.plainPassword.first.vars.full_name ~ '\']'} }) }}
        <span class="help-block" ng-repeat="error in errors.fields.plainPassword.children.second.errors track by $index">
            {{ '{{ error }}' }}
        </span>                            
        <div ng-show="!{{ form.vars.name }}['{{ form.plainPassword.second.vars.full_name }}'].$pristine && !(errors.fields.password.errors.length > 0)" class="help-block" ng-messages="{{ form.vars.name }}['{{ form.plainPassword.second.vars.full_name }}'].$error">
            {# Display error messages #}
            <div ng-message="passwordVerify">{{ 'user.password.not_match' | trans([], 'validators') }}</div>
        </div>
    </div>
    <div class="margin-top-10">
        <input type="submit" ng-disabled="{{ form.vars.name }}.$invalid" value="{{ 'settings.change_password.submit'|trans([], 'profile') }}" class="btn btn-success">
    </div>
    {{ form_rest(form) }}
</form>